body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(fundo.jpeg);
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}
